<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szu.subject.course.mapper.CommentMapper">
	<resultMap type="com.szu.subject.domains.Comment" id="Comment">
		<id property="id" column="ID" jdbcType="INTEGER" />
		<result property="dayOfWeek" column="DAY" jdbcType="TINYINT" />
		<result property="section" column="SECTION" jdbcType="TINYINT" />
		<result property="type" column="TYPE" jdbcType="TINYINT" />
	</resultMap>
</mapper>