<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
        
<configuration>
    <typeAliases>
        <package name="com.szu.subject.domains"/>
    </typeAliases>
    <mappers>
    	 <mapper resource="com/szu/subject/course/mapper/CourseMapper.xml"/>
    	 <mapper resource="com/szu/subject/course/mapper/ClassTimeMapper.xml"/>
    	 <mapper resource="com/szu/subject/course/mapper/CommentMapper.xml"/>
    	 <mapper resource="com/szu/subject/course/mapper/DepartmentMapper.xml"/>
    </mappers>
    
  
</configuration>